<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
</head>
<body>
<h2>결제 성공</h2>
<p id="paymentKey"></p>
<p id="orderId"></p>
<p id="amount"></p>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");

    async function confirm() {
        const requestData = {
            paymentKey: paymentKey,
            orderId: orderId,
            amount: amount,
            method: "TOSS"
        };

        try {
            const response = await fetch("/payment/confirm", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(requestData),
            });

            if (!response.ok) {
                const json = await response.json();
                console.error("Server error:", json);
                window.location.href = `/payment/fail?message=${json.message}&code=${json.code}`;
            } else {
                const json = await response.json();
                console.log("Success response:", json);
                window.location.href = `/payment/result?orderId=${orderId}&amount=${amount}`;
            }
        } catch (error) {
            console.log("Error during payment confirmation:", error);
        }
    }

    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;

    window.location.href = '/payment/result';

</script>
</body>
</html>