<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>흑백문고</title>
    <!--  <title th:text="${pageTitle}">마이페이지</title>-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>

<!-- 헤더 레이아웃 적용 -->
<header th:replace="~{layout :: header}"></header>

<!-- 마이페이지 헤더 영역 -->
<div id="mypage-header">
    <span class="header-title" >마이페이지</span>
</div>

<!-- 마이페이지 메인 콘텐츠 영역 -->
<main class="mypage-container">

    <!-- 왼쪽 사이드바 -->
    <aside id="sidebar" th:replace="~{mypage/mypage-sidebar :: sidebar}"></aside>

    <!-- 오른쪽 콘텐츠 영역 -->
    <section id="content-area">
        <h2>주문내역/배송조회</h2>

        <h3 class="content-title">주문상품정보</h3>
        <table>
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 50%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
            <tr class="table-header">
                <th>상태</th>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
                <th>선택</th>
                <th>리뷰작성</th>
            </tr>
            </thead>
            <tbody style="font-size: 12px">
            <!-- 여러 책을 반복해서 표시 -->
            <tr th:each="book : ${myPageOrderDetailResponse.orderDetailResponse.books}">
                <td th:text="${myPageOrderDetailResponse.orderDetailResponse.status}">상태</td>
                <td>
                    <p class="book-title">
                        <a th:href="@{/books/detail(bookId=${book.id})}" th:text="${book.title}">상품명</a>
                    </p>
                </td>
                <td th:text="${book.quantity}">수량</td>
                <td th:text="${book.totalPrice} + '원'">가격</td>
                <td>
                    <label>
                        <input type="checkbox" name="selectedBooks" th:value="${book.id}" />
                    </label>
                </td>
                <td>
                    <form method="GET" th:action="@{/members/mypage/review}">
                        <input type="hidden" name="bookId" th:value="${book.id}">
                        <input type="hidden" name="orderId" th:value="${orderId}">
                        <button type="submit" class="review-button">리뷰작성</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="button-container">
<!--            <button type="button" id="review-button" class="review-button">리뷰작성</button>-->
            <button type="button" id="order-cancel-button" class="order-cancel-button">주문취소</button>
        </div>
    </section>
</main>

<!-- 푸터 레이아웃 적용 -->
<footer th:replace="~{layout :: footer}"></footer>

</body>
</html>
