<!-- fragments/pagination.html -->
<ul class="pagination" th:fragment="pagination(page)">
    <!-- 첫 페이지로 이동 -->
    <li th:classappend="${page.first} ? 'disabled'">
        <a th:href="@{|?page=0|}" th:if="${!page.first}">«</a>
        <span th:if="${page.first}">«</span>
    </li>

    <!-- 이전 페이지 그룹 -->
    <li th:if="${(page.number / 5) > 0}">
        <a th:href="@{|?page=${((page.number / 5) - 1) * 5}|}">‹</a>
    </li>

    <!-- 페이지 번호 -->
    <li th:each="i : ${#numbers.sequence(page.number / 5 * 5, ((page.number / 5) * 5 + 4 < page.totalPages - 1 ? (page.number / 5) * 5 + 4 : page.totalPages - 1))}"
        th:classappend="${i == page.number} ? 'active'">
        <a th:href="@{|?page=${i}&size=${page.size}|}" th:text="${i + 1}"></a>
    </li>

    <!-- 다음 페이지 그룹 -->
    <li th:if="${page.totalPages > ((page.number / 5) + 1) * 5}">
        <a th:href="@{|?page=${((page.number / 5) + 1) * 5}|}">›</a>
    </li>

    <!-- 마지막 페이지로 이동 -->
    <li th:if="${page.number != -1}" th:classappend="${page.last} ? 'disabled'">
        <a th:href="@{|?page=${page.totalPages - 1}|}" th:if="${!page.last}">»</a>
        <span th:if="${page.last}">»</span>
    </li>
</ul>